<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="lib/angular/angular.js"></script>
	<script src="./main.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Ohm Delivery</title>
</head>

<body>
	<div class="banner">
		<h1>Ohm Delivery</h1>
		<h2>Get shocked by the power</h2>
	</div>

	<div ng-app="ohm-delivery">
		<div ng-controller="tracking">
			<form ng-submit="get()">
				<p>
					<input type="text" ng-model="trackingId" placeholder="Enter your tracking id" required />
				</p>
				<p>
					<button type="submit">Submit</button>
				</p>
				<p>
					<span ng-if="errorMessage" class="error">{{errorMessage}}</span>
				</p>
			</form>

			<div ng-if="result" class="result">
				<h3>#{{result.trackingId}} (Status: {{result.status}})</h3>
				<b>History:</b>
				<ul>
					<li ng-repeat="record in result.history">
						<div><b>Status:</b> {{record.state}}</div>
						<div ng-if="record.comment"><b>Comment:</b> {{record.comment}}</div>
						<div><b>Date:</b> {{record.at}}</div>
					</li>
				</ul>
				<div ng-if="result.nextStatuses && result.nextStatuses.length">
					<b>Update status:</b>
					<ul>
						<li ng-repeat="status in result.nextStatuses">
							<form ng-submit="updateStatus(status.code)">
								<input ng-if="status.commentable" type="text" ng-model="formData.comment[status.code]" placeholder="Enter comment (optional)" />
								<button type="submit">{{status.code}}</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
