body {
	margin: 0px 0px 0px 0px;
	font-size: 16px;
	font-family: "Open Sans", serif;
}

.banner {
	background-color: dodgerblue;
}

h1 {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

h2 {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
	font-style: italic;
}

.error {
	color: red;
}

input {
	margin: 2em auto 1em;
	width: 100%;
}

p {
	text-align: center;
	margin: auto;
	line-height: 2.0;
}

[ng-app='ohm-delivery'] {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.result {
	border: 1px solid dodgerblue;
	padding: 10px;
}

.result p {
	text-align: left;
}
